body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
  padding-bottom: 10px;
}

table form {
  padding: 0;
  border: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

form {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #007bff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


table input[type="submit"] {
  background-color: #dc3545;
  border-radius: 5px;
}

table input[type="submit"]:hover {
  background-color: #c82333;
}
input[type="submit"] {
  background-color: #007bff;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.navbar{
  margin: 0;
}